In [3]:
import numpy as np
import pandas as pd

path = "weight-height.csv"
df = pd.read_csv(path)
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [2]:
print(df.shape)
print(df.dtypes)

(10000, 3)
Gender     object
Height    float64
Weight    float64
dtype: object

In [4]:
print(df.isnull())
print(df.isnull().sum())

      Gender  Height  Weight
0      False   False   False
1      False   False   False
2      False   False   False
3      False   False   False
4      False   False   False
...      ...     ...     ...
9995   False   False   False
9996   False   False   False
9997   False   False   False
9998   False   False   False
9999   False   False   False

[10000 rows x 3 columns]
Gender    0
Height    0
Weight    0
dtype: int64

In [5]:
print(df.notnull())
print(df.notnull().sum())

      Gender  Height  Weight
0       True    True    True
1       True    True    True
2       True    True    True
3       True    True    True
4       True    True    True
...      ...     ...     ...
9995    True    True    True
9996    True    True    True
9997    True    True    True
9998    True    True    True
9999    True    True    True

[10000 rows x 3 columns]
Gender    10000
Height    10000
Weight    10000
dtype: int64

In [6]:
print(df['Height'].fillna(52))
print(df.fillna(method = 'ffill'))
print(df.fillna(method = 'bfill'))

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64
      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]
      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

/var/folders/3j/gg6dm61x5bq_3rz_j901y0g80000gn/T/ipykernel_32764/1472251450.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method = 'ffill'))
/var/folders/3j/gg6dm61x5bq_3rz_j901y0g80000gn/T/ipykernel_32764/1472251450.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method = 'bfill'))

In [7]:
df['Height'].fillna(df['Height'].mean() , inplace = True)

/var/folders/3j/gg6dm61x5bq_3rz_j901y0g80000gn/T/ipykernel_32764/954852501.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height'].fillna(df['Height'].mean() , inplace = True)

In [8]:
df_encoding= pd.get_dummies(df)
print(df_encoding)

         Height      Weight  Gender_Female  Gender_Male
0     73.847017  241.893563          False         True
1     68.781904  162.310473          False         True
2     74.110105  212.740856          False         True
3     71.730978  220.042470          False         True
4     69.881796  206.349801          False         True
...         ...         ...            ...          ...
9995  66.172652  136.777454           True        False
9996  67.067155  170.867906           True        False
9997  63.867992  128.475319           True        False
9998  69.034243  163.852461           True        False
9999  61.944246  113.649103           True        False

[10000 rows x 4 columns]

In [9]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scalar = StandardScaler(); 
data_standardised = scalar.fit_transform(df[['Height']])
print(data_standardised)

[[ 1.94406149]
 [ 0.62753668]
 [ 2.01244346]
 ...
 [-0.64968792]
 [ 0.69312469]
 [-1.14970831]]

In [10]:
normalizer = MinMaxScaler()
data_normalized = normalizer.fit_transform(df[['Height']])
print("Normalized data\n",data_normalized)

Normalized data
 [[0.79172838]
 [0.58695829]
 [0.8023644 ]
 ...
 [0.38830089]
 [0.59715974]
 [0.31052854]]