In [7]:
import numpy as np
import pandas as pd

path = "weight-height.csv"
df = pd.read_csv(path)
print(data);

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [8]:
df['Height']

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

In [11]:
count = len(df['Height'])
print(count)

10000

In [13]:
sum = 0
for i in df['Height']:
    sum+=i
print(sum)

663675.5975482106

In [14]:
mean = sum/count
mean

66.36755975482106

In [18]:
npmean = np.mean(df['Height'])
print(npmean)

66.36755975482124

In [17]:
median = df['Height'].median()
print(median)

66.31807008178464

In [19]:
std = df['Height'].std()
print(std)

3.8475281207732293

In [20]:
variance = df['Height'].var()
print(variance)

14.803472640140777

In [21]:
desc = df['Height'].describe()
print(desc)

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64