In [1]:
import numpy as np
import pandas as pd

path = "weight-height.csv"
df = pd.read_csv(path)
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [2]:
df.isnull()
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [3]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [4]:
array = np.array(df['Height'])
print(array)
print(type(array))

[73.84701702 68.78190405 74.11010539 ... 63.86799221 69.03424313
 61.94424588]
<class 'numpy.ndarray'>

In [5]:
weight = np.random.randint(1,60,size=len(array))
print(weight)

[59 22 59 ... 31 22 31]

In [6]:
weight_mean = np.average(df['Height'] , weights=weight)
print(weight_mean)

66.37581977326161

In [ ]:
from scipy import stats
trimmed_mean = stats.trim_mean(df['Height'] , 0.1)
print(trimmed_mean)